@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: #232323;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  input::placeholder {
    color: var(--pc);
  }
}

@layer components {
  .prose * {
    @apply text-secondary-content;
  }

  .full-article .prose * {
    @apply text-primary-content/95;
  }

  .container {
    @apply mx-auto max-w-[40rem] w-full;
  }

  .page-container {
    @apply flex flex-col gap-8 mt-10 prose;
  }

  .page-header {
    @apply flex flex-col gap-1;
  }

  .page-header h1,
  .page-header h2,
  .page-header h3,
  .page-header p,
  .page-header .prose h1,
  .page-header .prose h2,
  .page-header .prose h3,
  .page-header .prose p {
    @apply my-0;
  }

  .page-header h1,
  .page-header .prose h1 {
    @apply text-primary-content;
  }

  .post-viewer {
    @apply py-2 px-0 cursor-pointer;
    border-top: 1px solid var(--border);
    border-radius: 0;
  }

  .input-bordered {
    border: 1px solid var(--border);
  }

  .full-article .mockup-code {
    @apply bg-[#a0a0a0] text-primary my-4;
    border-radius: var(--rounded-box);
  }

  .alert {
    @apply py-2 my-2;
  }

  .full-article .date-view {
    @apply text-secondary-content;
  }

  .modal-backdrop:focus-visible,
  *:focus-visible {
    outline: none !important;
  }
}

.post-viewer:hover::before {
  content: "";
  width: calc(100% + 20px);
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0px;
  background-color: var(--border);
  filter: brightness(0.8);
  border-radius: var(--rounded-box);
  z-index: -1;
}

.prose .link,
.link {
  @apply hover:text-primary-content/80 text-primary-content/70 w-fit break-words;
}

.prose .badge,
.badge {
  @apply uppercase text-xs bg-secondary-content text-primary rounded-md font-medium;
}
