html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.pic-of-me {
	margin-bottom: -40px !important;
}

.chakra-ui-light #github-container .contrib-number {
	color: #333;
}

.chakra-ui-dark #github-container .contrib-number {
	color: #eee;
}

.nav-logo {
	border-radius: 50%;
}

#revue-embed {
	width: 100%;
}

.revue-form-group {
	width: 100%;
}

#revue-form {
	display: flex;
	justify-content: space-between;
}

#revue-form #member_submit {
	padding: 6px 12px;
	border-radius: 5px;
	height: var(--chakra-sizes-10);
	font-size: 16px;
}

.chakra-ui-light #revue-form #member_submit {
	color: #fff;
	background-color: #111;
	cursor: pointer;
}

.chakra-ui-dark #revue-form #member_submit {
	color: #111;
	background-color: #eee;
	cursor: pointer;
}

#member_email {
	width: 90%;
	min-width: 0px;
	outline: 2px solid transparent;
	outline-offset: 2px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	transition-property: var(--chakra-transition-property-common);
	transition-duration: var(--chakra-transition-duration-normal);
	font-size: var(--chakra-fontSizes-sm);
	-webkit-padding-start: var(--chakra-space-4);
	padding-inline-start: var(--chakra-space-4);
	-webkit-padding-end: var(--chakra-space-4);
	padding-inline-end: var(--chakra-space-4);
	height: var(--chakra-sizes-10);
	border-radius: 5px;
	padding-top: var(--chakra-space-2);
	padding-bottom: var(--chakra-space-2);
	border: 1px solid;
	border-color: inherit;
	background: inherit;
}
