html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.pic-of-me {
	margin-bottom: -40px !important;
}

.chakra-ui-light #github-container .contrib-number {
	color: #333;
}

.chakra-ui-dark #github-container .contrib-number {
	color: #eee;
}
