html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.pic-of-me {
	margin-bottom: -40px !important;
}

.nav-logo {
	border-bottom-right-radius: 25px;
}

html:lang(en) .nav-logo {
	transform: rotateY(180deg);
}

.post-image-container {
	width: 100%;
}

.post-image-container > div {
	position: unset !important;
}

.post-image-container .image {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}
